/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*
.collabignore
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp